# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
tmp/
out-tsc/

# Local deployment metadata
.vercel/

# IDEs and editors
.idea/
.project
.classpath
.cproject
.settings/
.vscode/
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
